.answer{
    min-width: 50vw;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    margin: 20px 0px;
    .meanings_div{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5vh 20px;
        text-align: center;
        h3{
            text-decoration: underline;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width:800px){
    .answer{
        width: 90%;
        height: fit-content;
        padding: 5vh 0px;
        .meanings_div{
            flex-direction: column;
            .kun_readings{
                margin-top: 30px;
            }
        }
    }
}